html, body, h1, h2, h3, h4, h5, h6, p, div, ul, ol, li, dl, dt, dd, table, caption, th, td, form, button, label, address, blockquote, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 16px;
}


/*画面全体にローディング画面を表示*/
/* #showloading {
  width: 100%;
  height: 100vh;
  background-color: rgba(176, 176, 176, 0.5);
  position: relative;
}

#showloading img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
} */

body {
  background: rgba(176, 176, 176, 0.5);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

p {
  font-size: 16px;
}

ul, li {
  list-style: none;
}

.cf:after {
  clear: both;
}

.cf:before, .cf:after {
  content: "";
  display: table;
}

/* header */

header {
  height: 165px;
  margin-bottom: 25px;
}

#logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 26px;
  font-weight: bold;
  margin: 21px 0 25px 0;
  padding-left: 30px;
  user-select: none;
  text-align: left;
}

nav {
  height: 90px;
  margin-bottom: 20px;
  border-top: 1.5px solid #fff;
}

/* .cf {
  zoom: 1;
} */

nav li {
  float: left;
  width: 49.9%;
  border-bottom: 1.5px solid #fff;
  text-align: center;
}

nav ul li a {
  display: block;
  width: 100%;
  padding: 12px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
}

.home, .language {
  border-right: 0.5px solid #fff;
}

/* main */


#image {
  margin-bottom: 60px;
  padding: 0 30px;
}

#main.inner h2.ttl {
  margin-bottom: 25px;
}

#main h2.ttl {
  margin-bottom: 40px;
  text-align: center;
  line-height: 1.0;
  font-weight: 100;
  font-size: 40px;
  letter-spacing: 0.05em;
}

#gallery {
  margin: 10px;
  padding: 0 20px;
}

.slider {
  width: 100%;
  margin: 0 auto;
}

.slider img {
  width: 100%;
  margin: 0 auto;
}

/* language */
#lang {
  margin-bottom: 60px;
  padding: 0 30px;
}

#lang section {
  margin-bottom: 40px;
}

#main h3.ttl {
  margin-bottom: 12px;
  text-align: center;
  line-height: 1.0;
  font-size: 22px;
  color: #505050;
}

/* about */

.contBox {
  margin: 0 20px;
}

.txtBox {
  margin-bottom: 30px;
}

.imgFace {
  margin-bottom: 40px;
  text-align: center;
}

.imgFace img {
  width: 160px;
  height: 160px;
}


.intro {
  height: 90px;
  margin-bottom: 30px;
  font-size: 11px;
}

.introlast {
  height: 40px;
}

.intro dt {
  float: left;
  display: block;
  font-weight: bold;
}

.intro dd{
  margin-left: 100px;
} 

.contactForm dt {
  display: block;
  margin-bottom: 3px;
  font-size: 13px;
}

.contactForm dd {
  margin-bottom: 15px;
}

.contactForm dd input {
  width: 250px;
  height: 20px;
  font-size: 16px;
  border: 1px solid #bbbbbb;
}

.contactForm dd textarea {
  width: 250px;
  font-size: 16px;
  border: 1px solid #bbbbbb;
}

input.submitBtn {
  width: 230px;
  height: 55px;
  margin: 20px 0;
  cursor: pointer;
  background-color: #8e8e8e;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}


/* .toTop */

.toTop {
  text-align: center;
}

.toTop a {
  display: block;
  margin-bottom: 40px;
  padding: 8px 20px;
}

/* footer */

footer {
  display: block;
}

.icons {
  margin: 16px auto;
}

.share {
  font-size: 20px;
  margin: 20px;
  text-align: center;
}

.socialBtn {
  text-align: center;
  margin-bottom: 20px;
}

.socialBtn li {
  display: inline;
  margin-right: 12px;
}

.socialBtn li.last {
  margin-right: 0;
}



@media only screen and (min-width: 760px) {
  header {
    position: relative;
    max-width: 960px;
    height: 270px;
    margin: 0 auto;
  }

  header h1 {
    position: absolute;
    top: 105px;
    left: 0;
  }

  #logo {
    font-size: 50px;
  }

  nav {
    position: absolute;
    bottom: 30px;
    right: 30px;
    margin-bottom: 0;
    border-top: none;
  }

  nav li {
    margin-left: 50px;
    display: inline;
    float: none;
    border-bottom: none;
    text-align: right;
  }

  nav ul li a {
    display: inline;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1em;
  }

  .home, .language {
    border-right: none;
  }

  #main.inner {
    max-width: 960px;
    padding: 0;
    margin: 0 auto;
  }

  .contBox {
    margin: 0 40px;
    margin-bottom: 50px;
  }

  #main.inner h2.ttl {
    margin-bottom: 70px;
    font-size: 45px;
    text-align: left;
  }

  .txtBox {
    margin-bottom: 50px;
  }

  .fBox01 {
    width: 100%;
  }

  .fBox01 .fBoxLeft {
    float: left;
    width: 20%;
    text-align: left;
  }

  .fBox01 .fBoxRight {
    margin-left: 200px;
    width: 70%;
  }

  #image {
    margin-bottom: 80px;
  }

  #image img {
    max-width: 960px;
    height: auto;
  }

  footer {
    max-width: 960px;
    margin: 0.5%;
    padding-bottom: 20px;
  }

  nav.footer {
    position: relative;
    float: left;
    width: 65%;
    margin: 60px 0 0 30px;
  }

  .contactBox {
    /* margin-left: 600px; */
    float: right;
    width: 30%;
  }

  .toTop {
    display: none;
  }
}

@media only screen and (min-width: 960px) {
  nav {
    position: absolute;
    bottom: 30px;
    right: 0;
  }

  .contBox {
    margin: 0;
  }

  .fBox01 {
    width: 960px;
  }

  .fBox01 .fBoxLeft {
    width: 160px;
  }

  .fBox01 .fBoxRight {
    width: 760px;
  }

  footer {
    max-width: 960px;
    margin: 0 auto;
  }

  nav.footer {
    margin-left: 0;
  }
}
